body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container{
    background-color: aliceblue;
    border-radius: 15px;
    border: #000;
    margin: 14px;
    max-width: 600px;
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    text-align: center;
    margin-top: 14px;
}